body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; /* corrected spelling */
}

h2 {
  color: green;
  font-weight: normal; /* added semicolon */
  font-style: italic;
}

.completed {
  font-size: 12px; /* corrected property */
}

#tasks .completed {
  background: #ccc; /* corrected spelling */
  text-decoration: line-through; /* added property */
}
